<html ng-app>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title></title>
    
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <!-- <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet"> -->
    <link href="/static/styles/style.css" rel="stylesheet">
    
    <!-- <script src="http://underscorejs.org/underscore.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.js"></script>
    <script src="/static/js/controllers.js"></script>
  </head>
  
  <body ng-controller="MainCtrl">
    
    <form ng-submit="search(searchTerm)">
      <input type="text" class="input" ng-model="searchTerm">
    </form>

    {{getResults()}}

    <table>
      <tr ng-repeat="r in getResults()">
        <td>
          <a href="{{r}}">{{r}}</a>
        </td>
      </tr>
    </table>
   
  </body>
</html>